.app {
  max-width: 1270px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px 0 0;
}

.header a {
  margin-right: 10px;
}

main {
  display: flex;
  justify-content: center;
}

.btn-like {
  height: 20px;
  padding-right: 20px;
  text-align: left;
  background: url('../img/like_heart.png') right no-repeat;
  background-size: contain;
  transition: 0.2s;
}

.btn-like--unactive {
  filter: grayscale(1);
  transition: 0.2s;
}