ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

li {
    margin: 5px;
    text-align: center;
    transition: box-shadow 0.2s;  
}

li:hover,
li:focus {
  box-shadow: 0px 0px 24px 5px rgba(239, 197, 139, 1);
  transition: box-shadow 0.2s;
}

.list-img {
  object-fit: contain;
  max-width: 100%;
}

.link-img {
  display: flex;
  justify-content: center;
}

.link-user {
  margin-right: 10px;
}

