.modal-box {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  margin-bottom: 5px;
}

.top a {
  margin-right: 10px;
}

.top button {
  margin-left: auto;
}

.btn-close {
 align-self: flex-end;
 margin-bottom: 5px;
}

.modal-img {
  object-fit: contain;
  max-width: 100%;
}